*{
    font-family: Arial;
    font-size: 20;
}
input {
    height: 35px;
    margin-right:10px;
    padding-left:5px;
}
.title{
    margin: 10 0 10 0;
}

.table_cell{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    height: 50px;
    width: 50px;
}

#target_table, #init_table{
    margin-top:20px;
    display :grid;
    grid-template-columns: 55px 55px 55px 55px 55px;
    grid-gap: 5px;
    
}

#tables{
    display :grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

 .table_cell:hover {
    background-color: yellow;
}

body{
    margin-left: 5%;
    margin-top: 5%;
}

.innerCell{
    display: none;
    border-width: 1px;
    margin: 9px;
    border-style:solid;
    border-color: black;
    width: 30px;
    height:30px;
    background-color:lightgreen;
}

#sendBtn{
    margin-top: 20px;
 
    margin-left: 33%;
    width: 15%;
}
/* The switch - the box around the slider */
.switch {
    display: none;
    margin-top: 20px;
    position: relative;
    
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgreen;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: red;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px red;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #answer